---
---

<footer class="bg-white py-10 text-xs leading-[18px] font-medium md:text-2xl md:leading-[30px]">
  <div class="mx-auto max-w-[840px] px-5">
    <div class="flex justify-between">
      <div class="footer-left">
        <a href="mailto:mark.a.suarez@gmail.com" class="text-primary no-underline hover:text-link-hover">
          mark.a.suarez@gmail.com
        </a>
      </div>
      <div class="footer-right">
        <a href="/" class="text-primary no-underline hover:text-link-hover">
          marksuarez.xyz
        </a>
      </div>
    </div>
  </div>
</footer>
